<div class="cubewrapper">
  <div class="scene">
    <div class="cube">
      <div class="face front">
        <div class="img react-logo"></div>
      </div>
      <div class="face right">
        <div class="img angular-logo"></div>
      </div>

      <div class="face left">
        <div class="img vue-logo"></div>
      </div>
      <div class="face back">
        <div class="img js-logo"></div>
      </div>
      <div class="face top"></div>
      <div class="face bottom"></div>
    </div>
  </div>
</div>
